%title "Roles"

%table
  %tr
    %th Name
    %th User
  - for role in @roles
    %tr
      %td= h role.name
      %td= h role.user_id
      %td= link_to 'Show', role
      %td= link_to 'Edit', edit_role_path(role)
      %td= link_to 'Destroy', role, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Role", new_role_path
