%table
  %tr
    %th Title
    %th Rating
    %th User
  - for game in @games
    %tr
      %td= h game.title
      %td= h @ratings.at(game.rating)
      %td= h game.user
      %td= link_to 'Show', members_game_path(game)
      %td= link_to 'Edit', edit_members_game_path(game)
      %td= link_to 'Destroy', members_game_path(game), :confirm => 'Are you sure?', :method => :delete

%p= will_paginate @games
%p= link_to "New Game", new_members_game_path
