<br />
<div id="show-actions">
	<ul>
		<li>
			<%= image_tag "arrow_left.png" %>
			<%= link_to 'list all articles', articles_path %>
		</li>
		<li>
			<%= image_tag "page_edit.png" %>
			<%= link_to 'edit', edit_article_path(@article) %>
		</li>
		<li>
			<%= image_tag "page_delete.png" %>
			<%= link_to 'delete', @article, :confirm => 'Are you sure?', :method => :delete, :title => "Delete this article" %>
		</li>
		<li>
			<%= image_tag "email.png" %>
			<%= mail_to "email", nil, :subject => @article.title, :body => link_to ( "View this article", @article ) %>
		</li>
	</ul>
</div>

<div class="article">
	<p>
	  <h2><%=h @article.title %></h2>
	</p>

	<p>
	  <b>by 
		<%=h @article.author %> has been edited 
		<% if @article.num_edits.nil? %> 
			0
		<% else %>
			<%= @article.num_edits %>
		<% end %>
		times since
		<%=h @article.created_at.strftime("%m/%d/%Y") %>
	  </b>
	</p>

	<p>
	  <%=h simple_format(@article.body) %>
	</p>
</div>

