%table
  %tr
    %th Title
    %th Rating
    %th User
  - for game in @games
    %tr
      %td= h game.title
      %td= h game.rating
      %td= h game.user_id
      %td= link_to 'Show', game
      %td= link_to 'Edit', edit_game_path(game)
      %td= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Game", new_game_path
