%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
%head
  %title 
    = controller.action_name.upcase
  = stylesheet_link_tag 'screen.css'

%div.heading 
  %h1 Gamez - Admin

%div.content
  %div.login
    = link_to "Edit Profile", edit_admin_user_path(:current)
    or
    = link_to "Logout", logout_path
  %br
  %div.notice
    = notice
  %div
    = link_to "Users", admin_users_path
    |
    = link_to "Games", admin_games_path
    |
    = link_to "Roles", admin_roles_path
    |
    = link_to "Admin", admin_root_url
  = yield