%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
%head
  %title 
    = controller.action_name.upcase
  = stylesheet_link_tag 'screen.css'

%div.heading 
  %h1 Gamez

%div.content
  %div.login
    = link_to "Register", new_user_path
    or
    = link_to "Login", login_path
  %div.notice
    = notice
  = yield