- form_for [:admin, @game] do |f|
  = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :rating
    %br
    - @ratings.length.times do |i|
      = f.radio_button :rating, i
      = h @ratings.at(i)
      %br
  %p
    = f.submit
