<div id="show-actions">
	<ul>
		<li>
			<%= image_tag "arrow_left.png" %>
			<%= link_to 'back', session[:edit_redirect] %>
		</li>
	</ul>
</div>
<!--<%= session[:edit_redirect] %>-->
<div class="article">
	<h1>Editing "<%= @article.title %>"</h1>
	<br />
	<table id="form-table">
	<% form_for(@article) do |f| %>
	  <%= f.error_messages %>
	  <tr>
		<td>
			<%= f.label :title %>:
		</td>
		<td>
	    	<%= f.text_field :title %>
	  	</td>
	  <tr>
	  <tr>
		<td>
	    	<%= f.label :author_id %>:
		</td>
		<td>
	    	<%= f.select :author_id, @authors.collect { |a| [a.name, a.id]}, :include_blank => true %>
		</td>
	  </tr>
	  <tr>
	    <td>
			<%= f.label :body %>:
		</td>
		<td>
	    	<%= f.text_area :body %>
		</td>
	  </tr>
	  <tr>
		<td>
		</td>
		<td>
	    	<%= f.submit 'Update Article' %>
		</td>
	  </tr>
	<% end %>
</table>